/* NAV */
#navbar {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    text-align: center;
}

#navbar a {
    color: black;
    font-size: 1.0em;
    font-weight: 800;
    padding: 1em;
    text-transform: uppercase;
}

#navbar a:hover {
    color: #CED0CE;
}

#header-top {
    margin-bottom: 30px;
    background: white;
}

#header h1 {
    font-family: 'Vollkorn', serif;
}

#currently h3 {
    font-family: 'Vollkorn', serif;
}
/* SPACERS */
.spacer-1 {
    height: 28vh;
}
.spacer-2 {
    height: 19vh;
}
.spacer-3 {
    height: 10vh;
}
.spacer-4 {
    height: 5vh;
}
.spacer-5 {
    height: 3vh;
}
.spacer-6 {
    height: 2vh;
}
.spacer-7 {
    height: 1vh;
}
.check_mark {
  width: 80px;
  height: 130px;
  margin: 0 auto;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    text-decoration: none;
}

/** LISTS **/
ul {
    padding-right: 0;
    padding-left: 0;
    list-style-type: none;
    /*font-family: 'Racing Sans One', cursive;*/
    font-family: 'Roboto', sans-serif;
}

#currently{
    font-family: 'Roboto', sans-serif;
    list-style-type: circle;
    padding: 0;
}

/** DIVS **/
#general-about {
    margin-left: 15vw;
    margin-right: 15vw;
}

#contact {
    margin-left: 15vw;
    margin-right: 15vw;
}

#outfit {
    margin-left: 15vw;
    margin-right: 15vw;
}

#snooze {
    margin-left: 15vw;
    margin-right: 15vw;
}

#cozmo {
    margin-left: 15vw;
    margin-right: 15vw;
}

#currently-about {
    margin-left: 15vw;
    margin-right: 15vw;
}


#footer {
    font-family: 'Inconsolata', monospace;
}

.tabContent {
    display:none;
}

p {
    color: black;
    font-size: 20;
}

.targetDiv {
    display: none;
}

/** IMAGES **/

.startImg {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.aboutImg {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.resumeImg {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.projImg {
    width: 15vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.workImg {
    height: 200px;
    width: auto;
}

#work-contain {
    object-fit: none;
    object-position: 50% 50%;
    width: 300px;
    overflow: hidden;
}

#projects{
  align-items: center;
  background-image: url("imgs/Ryan.png");
  color: #ffffff;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homeLink {
    padding-top: 1vh;
    width: 120px;
    height: auto;

    display: block;
}

#resume {
    display:block;
    font-family: 'Roboto', sans-serif;
    padding-left: 150px;
}

#about {
    display:block;
    padding-top: 0;
}

#about-header {
}

#work {
    align-items: center;
    display:block;
    padding-left: 150px;
}

#work-contain {
    display:inline-block;
}


/* HEADINGS */
h3 {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

}
h4 {
    font-family: 'Roboto', sans-serif;

}

.right-subtitle {
    font-family: 'Playfair Display', serif;
}

button {
    padding: 0;
    border: none;
    background: none;
}

#imgLink:hover {
    color: black;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0.5px 0.5px 0.5px #000000;
    color:white;
}
